/*html {
        background:  darkslategray;
        font-family: sans-serif;
        color: white;
        font-size: 15px;
    
    }  */

button { 
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    align-content: right; 
}
    
/*h1 {
    font-size: 40px;
    font-family: sans-serif; 
    color: white;
    text-align: center;
    padding-bottom: 20px
 
   
}*/


/*h4 {
    font-size: 12px; 
    text-align: right
    
}*/

/*h2 {
   font-size: 20px; 
}

h3 {
    text-align: center
}*/

button1 {
    background-color: #cc1616;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    
}

button1:hover {
    box-shadow: 0 12px 16px 0 #1d3030, 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

button1:active {
  background-color: #a21111;
  transform: translateY(3.5px);

}

button2 {
    background-color: #cc1616;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    
}

button2:hover {
    box-shadow: 0 12px 16px 0 #1d3030, 0 17px 50px 0 rgba(0,0,0,0.19);
}

button2:active {
  background-color: #a21111;
  transform: translateY(3.5px);
  }
  

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
     color: white;
        font-size: 15px;
    background:  darkslategray;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("marist.jpg");
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

input[type=submit] {
    border: 1px solid #f44c0e;
    color: #fff;
    background: tomato;
    padding: 10px 20px;
    border-radius: 5px;
}
input[type=submit]:hover {
    background: #f44c0e;
}